@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
.wrap_sl{
    width: 1030px;
}
.button{
    display: inline-block;
    font-weight: 700;
    background: #2500f9;
    color: #fff;
    padding: 16px 40px;
    border-radius: 32px;
    text-decoration: none;
}
.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.27;
    color: #242f51;
    margin: 0;
}
.text{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    line-height: 1.85;
    letter-spacing: -0.3px;
    margin: 0;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #242f51;
    margin: 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__icon-wrap{
    background: #ffecef;
    border-radius: 100%;
    height: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__icon{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
/*=========== header ============*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 150px;
    padding-top: 50px;
    box-sizing: border-box; /*свойство запрещающее масштабироваться элементу за счет отступов и бордеров*/
}
.header__wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 700; /*bold*/
    text-decoration: none;
    color: #242f51;
}
.logo__color{
    color: #fcae61;
}
.menu__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu__item{
    margin-left: 32px;
}
.menu__link{
    color: #242f51;
    text-decoration: none;
    font-size: 16px;
}
.menu__button{
    color: #fff;
}

/*=========== welcome ============*/
.welcome{
    background: url(img/city.png) #fdfdfe bottom center / 100% no-repeat;
    height: 100vh;
}
.welcome__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    margin-top: 100px;
}
.welcome__img{
    width: 400px;
}
.welcome__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.welcome__awards{
    background: #e2eaed;
    display: flex;
    align-items: center;
    padding-right:50px;
    border-radius: 30px;
    color: #242f51;
    font-size: 18px;
    margin: 0;
}
.welcome__achivment{
    height: 40px;
    width: 40px;
    background: #feaa25;
    border-radius: 30px;
    margin-right: 8px;
}
.welcome__title{
    color: #242f51;
    font-size: 60px;
    line-height: 1.25;
    font-weight: 700;
    margin: 22.5px 0;
}
.welcome__text{
    font-size: 18px;
    color: #616368;
    margin: 0;
    margin-bottom: 35px;
}
.welcome__button{
    margin-right: 25px;
}
.welcome__link{
    font-size: 16px;
    color: #2500f9;
    text-decoration: none;
}

/*=========== companies ============*/
.companies{
    padding: 110px 0 80px;
}
.companies__title{
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.companies__list{
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.circle{
    position: relative;
    bottom: 380px;
    left: 650px;
    border: 6px solid #ec9b83;
    border-radius: 100px;
    padding: 6px 6px;
}
.circle__two{
    position: relative;
    top: 280px;
    left: 130px;
    
    border: 6px solid #ec9b83;
    border-radius: 100px;
    padding: 6px 6px;

}
.circle__three{
    position: relative;
    top: 200px;
    left: 130px;
    border: 6px solid #ec9b83;
    border-radius: 100px;
    padding: 6px 6px;
}
.circle__four{
    position: relative;
    bottom: 300px;
    right: 100px;
    border: 6px solid #d4cefd;
    border-radius: 100px;
    padding: 6px 6px;
}

/*=========== features ============*/
.features__images{
    position: relative;
    right: 50px;
}
.features__bg{
    position: absolute;
    bottom: 0;
    left: -60px;
    z-index: -1;
}
.features__img{
    width: 580px;
}
.features__wrap{
    display: flex;
}
.features__info{
    width: 430px;
}
.features__title{
    margin: 0;
    margin-bottom: 15px;
}
.features__card{
    display: flex;
    align-items: center;
}
.features__card-info{
    width: 270px;
    margin-left: 25px;
}
.features__cards{
    margin-top: 100px;
}
.item_blue{
    margin-top: 70px;
}
.item_green{
    margin-top: 70px;
}
/*=========== smart ============*/
.smart__wrap{
    display: flex;
    width: 960px;
    margin-top: 160px;
}

.smart__text{
    margin-left: 115px;
}
.smart__icons{
    margin-top: 160px;
}

.text_pink{
    color: #f55767;
}
.icon_pink{
    background: #ffecef;
}
.icon_blue{
   background: #f2f2ff; 
}
.text_blue{
    color: #2563ff;
}
.icon_green{
    background: #e4ffee;
}
.text_green{
    color: #40975f;
}

.smart__card-info{
    width: 270px;
    margin-left: 25px;
    margin-top: 50px;
}